<footer class="mt-4">
  <p id="contribute" class="text-center text-muted">
    <span id="contribute-year"> </span> - Handleryouth - Using EJS
  </p>

  <script defer>
    let date = new Date().getFullYear();

    document.getElementById("contribute-year").innerHTML = date;
  </script>
</footer>
