<div class="form-check border py-2 px-2 rounded">
  <input class="mx-1 form-check-input" type="radio" name=<%= name %> id=<%= id %> />
  <label class="form-check-label" for=<%- id %>>
    <%= label %>
  </label>
</div>